@import (inline) "~@netcracker/ux-ng2/dist/themes/base/styles/components/button/button.component.css";
@import (inline) "~@netcracker/ux-ng2/dist/themes/base/styles/components/loader/material-loader/material-loader.component.css";

@import (inline) "~@netcracker/ux-ng2/dist/themes/base/styles/components/table/table.component.css";
@import (inline) "~@netcracker/ux-ng2/dist/themes/base/styles/components/field/checkbox/checkbox-field.component.css";
@import (inline) "~@netcracker/ux-ng2/dist/themes/base/styles/components/scroll/scroll.component.css";
@import (inline) "~@netcracker/ux-ng2/dist/themes/base/styles/components/virtual-scroll.css";
:host{
    display: grid;
    height: 100vh;
    place-items:center;
}
