<ux-table
    style="height: 200px; width: 200px;"
    #uxTable
    [model]="_tableModel"
>
</ux-table>
<ng-template
    #customCellContent
    let-contentModel="contentModel"
    let-column="column"
    let-columnIndex="columnIndex"
    let-row="row"
>
    <highcharts-chart  style="width: 200px; height: 200px;"
                      [Highcharts] = "highcharts"
                      [options] = "contentModel.graphModel"
                      >
    </highcharts-chart>
</ng-template>

