@main: #000;
@second: #183147;
@third: #738391;
@panel-bg: #0D243C;
@panel-bg-dark: #243a51;
@panel-bg-second: #f0f0f0;
@panel-text: #fff;
@light: #e4e4e4;
@highlight: #d7d7d7;
@lighter: #a3adb5;
@lightest: #4e79a0;
@lightest: #a8b3bc;
@tile: #888888;
@substrate: #666;
@border: #d1d6da;
@bordered: #bec4c8;
@link: #0066CC;
@accepted: #f8bf4c;
@hover: #41ABDD;

@sample-unknown-1-color: #00BB5B;
@sample-unknown-2-color: #2C58F2;
@sample-unknown-3-color: #96DFD2;
@sample-unknown-4-color: #BEECFF;
@sample-unknown-5-color: #9B51E0;
@sample-unknown-6-color: #FFB02E;
@sample-unknown-7-color: #FF5260;
@sample-unknown-8-color: #B4BFCF;
@sample-unknown-9-color: @default-icon;
@sample-unknown-10-color: #45cafc;
@sample-unknown-11-color: #303f9f;
@sample-unknown-12-color: #33b5e5;
@sample-unknown-13-color: #8D75C3;
@sample-unknown-14-color: #404780;
@sample-unknown-15-color: #3E2E9F;
@sample-unknown-16-color: #EFEBF5;
@sample-unknown-17-color: #312192;
@sample-unknown-18-color: #5C3AA9;
@sample-unknown-19-color: #A151B9;
@sample-unknown-20-color: #BACCD9;
@sample-unknown-21-color: #F1466D;
@sample-unknown-22-color: #F9B430;
@sample-unknown-23-color: #20CB64;
@sample-unknown-24-color: #F5F7FA;


@sales-icon: #3AB877;
@customer-icon: #2C58F2;
@default-icon: #D5DCE3;
@user-icon: #254FBB;
@search-menu-icon: #003AB8;
@title: #005DCF;
@jackdaw: #53F745;
